<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EcomerceMezcalesLaParroquia</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>Controlador</servlet-name>
		<servlet-class>com.mezcales.parroquia.controlador.Controlador</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ControladorIMG</servlet-name>
		<servlet-class>com.mezcales.parroquia.controlador.ControladorIMG</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletRegistroUsuario</servlet-name>
		<servlet-class>com.mezcales.parroquia.controlador.ServletRegistroUsuario</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletUsuario</servlet-name>
		<servlet-class>com.mezcales.parroquia.controlador.ServletUsuario</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controlador</servlet-name>
		<url-pattern>/controlador/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ControladorIMG</servlet-name>
		<url-pattern>/controladorIMG/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletRegistroUsuario</servlet-name>
		<url-pattern>/ServletRegistroUsuario/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletUsuario</servlet-name>
		<url-pattern>/ServletUsuario/*</url-pattern>
	</servlet-mapping>


</web-app>